.text {
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  color: var(--sapTextColor);
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;
  max-width: 100%;
}

.text::selection {
  background: var(--sapSelectedColor);
  color: var(--sapContent_ContrastTextColor);
}

/* renderWhitespace */
.renderWhitespace {
  white-space: pre-wrap;
}

/* noWrap */
.noWrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.noWrap.renderWhitespace {
  white-space: pre;
}

/* maxLines */
.maxLines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--_ui5wcr_maxLines);
}

/* hyphenated */
.hyphenated {
  hyphens: auto;
}

/* emptyIndicator */
.emptyIndicator {
  line-height: normal;
  color: var(--sapTextColor);
}

/* pseudoInvisibleText */
.pseudoInvisibleText {
  font-size: 0;
  position: absolute;
  user-select: none;
  left: 0;
  top: 0;
}
