/* to prevent flickering, only show the web-component when its custom-element is defined  */
:not(:defined) {
  display: none;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--sapBackgroundColor);
  font-family: var(--sapFontFamily);
}
