.popover {
  font-weight: normal;

  &::part(content) {
    padding: 0;
  }
}

.filterIcon {
  padding-inline-end: 0.5rem;
  min-width: 1rem;
  min-height: 1rem;
  color: var(--sapContent_NonInteractiveIconColor);
}
