.piechart {
  g:focus,
  path:focus {
    outline: none;
  }
}

[data-active-legend] {
  background: color-mix(in srgb, var(--sapSelectedColor), transparent 87%);
  :global(.recharts-legend-item-text) {
    color: var(--sapTextColor) !important;
  }
}
