# build results for base package
packages/base/dist
packages/base/types

# build results for charts package
packages/charts/dist

# build results for main package
packages/main/dist
packages/main/wrappers

# build result for cypress-commands package
packages/cypress-commands/dist

scripts
shared
.eslintrc.cjs
*.stories.tsx
packages/cra-template
CodeGen.tsx

