# build results for base package
packages/base/dist
packages/base/types

# build results for charts package
packages/charts/dist

# build results for cli package
packages/cli/dist

# build results for main package
packages/main/dist
packages/main/ssr
packages/main/wrappers

# i18n defaults
packages/main/src/i18n/i18n-defaults.ts

# build result for cypress-commands package
packages/cypress-commands/dist

scripts
shared
CodeGen.tsx
examples
templates

