packages/*/src/dist/

# build results for base package
packages/base/dist
packages/base/Device
packages/base/hooks
packages/base/lib
packages/base/scripts
packages/base/styling
packages/base/types
packages/base/utils

# build results for charts package
packages/charts/dist

# build results for main package
packages/main/dist
packages/main/wrappers

scripts
shared
.eslintrc.cjs
*.stories.tsx
*.test.tsx
*.test.ts
index.esm.js
packages/cra-template

