# Created by .ignore support plugin (hsz.mobi)
node_modules
*.iml
yarn-error.log
.idea
/.env
@types
.cache
.out
lerna-debug.log
.awcache
/temp
*.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/cypress-commands/api.json

packages/main/scripts/wrapperGeneration/json
packages/main/tmp

examples/seed-test

scripts/web-component-wrappers/interfaces.json

.nx/cache