# Created by .ignore support plugin (hsz.mobi)
node_modules
*.iml
yarn-error.log
.idea
coverage
/.env
dist/
@types
typings
!/typings
.cache
build
/packages/*/npm/**/*.d.ts
.out
lerna-debug.log
packages/main/scripts/wrapperGeneration/json
.awcache
