.containerCustomElement {
    background-color: var(--sapBackgroundColor);
    font-family: var(--sapFontFamily);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}