.baseCellFocus {
  &:focus {
    outline: none;
  }
  &:not([data-empty-row-cell]):focus::after {
    content: '';
    pointer-events: none;
    inset-inline: 1px;
    inset-block: 1px;
    border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    position: absolute;
  }
}

.tableContainerWithScrollBar {
  position: relative;

  &:has(> .overlay) {
    > :not(.overlay) {
      opacity: var(--sapContent_DisabledOpacity);
    }
  }

  &:has(> .busyIndicator) {
    > :not(.busyIndicator) {
      opacity: var(--sapContent_DisabledOpacity);
    }
  }
}

.table {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  min-height: 3rem;
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  background-color: var(--sapList_Background);

  /*  bottom border*/
  &::after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    height: var(--_ui5wcr-AnalyticalTable-HeaderBorderWidth);
    width: 100%;
    background: var(--sapList_HeaderBorderColor);
  }
}

.busyIndicator {
  position: absolute;
  z-index: 1;
  inset: 0;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  inset: 0;

  &:focus {
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  }
}

.tableHeaderRow {
  height: var(--_ui5wcr-AnalyticalTableHeaderRowHeight);
}

.hasNavigationIndicator {
  .tableHeaderRow :nth-last-child(2) .th {
    border-inline-end: none;
  }

  .tr :nth-last-child(2) {
    border-inline-end: none;
  }
}

.tableHeaderBackgroundElement {
  box-sizing: border-box;
  position: absolute;
  inset-inline: 0;
  height: var(--_ui5wcr-AnalyticalTableHeaderRowHeight);
  background-color: var(--sapList_HeaderBackground);
  border-block-start: var(--_ui5wcr-AnalyticalTable-OuterBorderBlock);
  border-block-end: var(--_ui5wcr-AnalyticalTable-HeaderBorderWidth) solid var(--sapList_HeaderBorderColor);
}

.tableBodyBackgroundElement {
  box-sizing: border-box;
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  border-block-end: 1px solid var(--sapList_TableFooterBorder);
}

.th {
  composes: baseCellFocus;

  height: var(--_ui5wcr-AnalyticalTableHeaderRowHeight);
  color: var(--sapList_HeaderTextColor);
  background-color: var(--sapList_HeaderBackground);
  border-block-start: var(--_ui5wcr-AnalyticalTable-OuterBorderBlock);
  border-block-end: var(--_ui5wcr-AnalyticalTable-HeaderBorderWidth) solid var(--sapList_HeaderBorderColor);
  border-inline-end: 1px solid var(--sapList_BorderColor);
  padding-inline-end: 0.5rem;
  padding-inline-start: calc(0.5rem - var(--_ui5wcr-AnalyticalTable-HeaderBorderWidth));
  text-align: start;
  box-sizing: border-box;

  &:hover {
    background-color: var(--sapList_Hover_Background);
    color: var(--_ui5wcr-AnalyticalTable-HeaderActiveTextColor);
  }

  &:active {
    background-color: var(--sapList_Active_Background);
    color: var(--_ui5wcr-AnalyticalTable-HeaderActiveTextColor);
  }

  &[data-column-id='__ui5wcr__internal_highlight_column'] {
    border-inline-end: 1px solid transparent;
  }

  &:last-child [data-resizer] {
    transform: translateX(0px);
  }

  &:focus {
    &[data-column-id='__ui5wcr__internal_selection_column'] {
      border-inline-start: 1px solid transparent;
    }
  }
}

.tbody {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  box-sizing: border-box;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }
}

.alternateRowColor {
  background-color: var(--sapList_AlternatingBackground);
}

.tr {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  color: var(--sapList_TextColor);
  border-block-end: 1px solid var(--sapList_BorderColor);
  /* needed for vertical virtualization*/
  margin-block-end: -1px;
  box-sizing: border-box;
  display: flex;

  &:hover:not([data-empty-row]) {
    background-color: var(--sapList_Hover_Background);
  }

  &[data-is-selected] {
    border-block-end: 1px solid var(--sapList_SelectionBorderColor);
    background-color: var(--sapList_SelectionBackgroundColor);
  }

  &[data-is-selected]:hover {
    background-color: var(--sapList_Hover_SelectionBackground);
  }
}

.trActive {
  cursor: pointer;
}

.tableGroupHeader.tr {
  font-family: var(--_ui5wcr-AnalyticalTable-HeaderFontFamily);
  background-color: var(--sapList_TableGroupHeaderBackground);
  border-color: var(--sapList_TableGroupHeaderBorderColor);
  color: var(--sapList_TextColor);

  .tableCell {
    border-inline-end: 1px solid transparent;
  }
}

.tableText {
  display: inline-block;
  font-size: var(--sapFontSize);
  max-width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableCell {
  composes: baseCellFocus;

  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-inline-end: 1px solid var(--sapList_BorderColor);
  display: inline-flex;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;

  &:first-child {
    border-inline-start: var(--_ui5wcr-AnalyticalTable-OuterCellBorder);
    &[data-column-id-cell='__ui5wcr__internal_highlight_column'] {
      border-inline: none;
    }
  }

  &:last-child {
    border-inline-end: var(--_ui5wcr-AnalyticalTable-OuterCellBorder);
  }

  &[aria-selected='true']:not([data-empty-row-cell]):focus::after {
    inset-block-end: 2px;
  }
}

.showVerticalEndBorder .tableCell {
  border-inline-end: 1px solid var(--sapList_BorderColor);
}

.noDataContainer {
  box-sizing: border-box;
  &:focus {
    outline-offset: -3px;
    outline: var(--sapContent_FocusColor) solid 0.125rem;
  }
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--sapList_Background);
  width: 100%;
  box-sizing: border-box;
  color: var(--sapList_TextColor);
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  border-block-end: 1px solid var(--sapList_BorderColor);
}

.navigation {
  background-color: var(--sapList_SelectionBorderColor);
}

.positive {
  background-color: var(--sapSuccessColor);
}

.negative {
  background-color: var(--sapErrorColor);
}

.critical {
  background-color: var(--sapWarningColor);
}

.information {
  background-color: var(--sapInformationColor);
}

.indication01 {
  background: var(--sapIndicationColor_1);
}

.indication02 {
  background: var(--sapIndicationColor_2);
}

.indication03 {
  background: var(--sapIndicationColor_3);
}

.indication04 {
  background: var(--sapIndicationColor_4);
}

.indication05 {
  background: var(--sapIndicationColor_5);
}

.indication06 {
  background: var(--sapIndicationColor_6);
}

.indication07 {
  background: var(--sapIndicationColor_7);
}

.indication08 {
  background: var(--sapIndicationColor_8);
}

.hiddenSmartColMeasure {
  visibility: hidden;
  position: fixed;
  white-space: nowrap;
  height: 0;
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  line-height: normal;
}

.hiddenSmartColMeasureHeader {
  font-family: var(--_ui5wcr-AnalyticalTable-HeaderFontFamily);
}

.hiddenA11yText {
  display: none;
}

.checkBox::part(root) {
  display: flex;
  width: unset;
  height: unset;
  justify-content: center;
  min-height: unset;
  min-width: unset;
  padding: 0;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

.thContainer {
  & > [role='columnheader'][data-column-index='0'] {
    border-inline-start: var(--_ui5wcr-AnalyticalTable-OuterCellBorder);
  }

  &:last-child > [role='columnheader'] {
    border-inline-end: var(--_ui5wcr-AnalyticalTable-OuterCellBorder);
  }
}

.verticalEndBorder:last-child > [role='columnheader'] {
  border-inline-end: 1px solid var(--sapList_BorderColor);
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: start;
  font-family: var(--_ui5wcr-AnalyticalTable-HeaderFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;

  & > span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.text {
  cursor: inherit;
  color: inherit;
  font-family: inherit;
  width: 100%;
  text-align: start;
}

.iconContainer {
  display: flex;
  position: absolute;
  color: var(--sapContent_IconColor);
  inset-inline-end: 0.5rem;

  & > [ui5-icon]:not(:first-child) {
    margin-inline-start: 0.125rem;
  }
}

.selectAllCheckBoxContainer {
  display: flex;
  justify-content: center;
}

.icon {
  height: 0.8125rem;
  width: 0.8125rem;
}

/* ==========================================================================
   Resizer styles
   ========================================================================== */

.resizer {
  display: inline-block;
  width: 3px;
  height: 100%;
  position: absolute;
  inset-block-end: 0;
  inset-block-start: 0;
  z-index: 1;
  cursor: col-resize;

  &:hover,
  &:active {
    background-color: var(--sapContent_DragAndDropActiveColor);
  }
}

/* ==========================================================================
   ColumnHeaderModal styles
   ========================================================================== */

.popover {
  font-weight: normal;

  &::part(content) {
    padding: 0;
  }
}

.filterIcon {
  padding-inline-end: 0.5rem;
  color: var(--sapContent_NonInteractiveIconColor);
}

.filterText {
  overflow: visible;
  padding-inline-end: 0.5rem;
}

/* ==========================================================================
   Expandable styles
   ========================================================================== */

.container {
  height: var(--_ui5wcr-AnalyticalTableExpandButtonHeight);
  margin-inline-end: 0.125rem;
  flex-shrink: 0;
}

.expandableIcon {
  color: var(--sapContent_IconColor);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  &::part(root) {
    padding: 0.375rem;
    width: var(--_ui5wcr-AnalyticalTableExpandIconHeight);
    height: var(--_ui5wcr-AnalyticalTableExpandIconHeight);
  }
}

.button {
  color: var(--sapTextColor);
  height: 100%;
  font-size: 0.75rem;
}

.nonExpandableCellSpacer {
  width: var(--_ui5wcr-AnalyticalTableExpandIndicatorWidth);
  flex-shrink: 0;
}

.withExpandableButton {
  margin-inline-end: 0.5rem;
}

/* ==========================================================================
   PopIn styles
   ========================================================================== */

.popInContainer {
  width: 100%;
}

.defaultCell > :first-child {
  padding-block-start: 0.25rem;
}

.popInHeader {
  color: var(--sapContent_LabelColor);
  height: 16px;
}

.gap {
  gap: 0.5rem;
}

/* ==========================================================================
   SubComponent styles
   ========================================================================== */

.subcomponent {
  position: absolute;
  width: 100%;
  &:focus {
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  }
}

/* ==========================================================================
   VerticalResizer styles
   ========================================================================== */

.verticalResizerContainer {
  overflow: hidden;
  position: relative;
  height: 5px;
  text-align: center;
  cursor: row-resize;
  box-sizing: border-box;

  &:hover {
    background-color: var(--sapContent_DragAndDropActiveColor);
    color: var(--sapHighlightTextColor);
  }

  &:before {
    font-size: 10px;
    font-family: var(--sapFontFamily);
    inset-block-start: 0;
    position: absolute;
    content: '⦁⦁⦁⦁';
    line-height: 5px;
    pointer-events: none;
  }
}

.verticalResizer {
  position: absolute;
  opacity: 0.5;
  background-color: var(--sapContent_DragAndDropActiveColor);
  height: 5px;
}

/* ==========================================================================
   (Vertical)Scrollbar styles
   ========================================================================== */

.verticalScrollbarContainer {
  position: relative;
}

.headerSection {
  box-sizing: border-box;
  border-block-start: var(--_ui5wcr-AnalyticalTable-OuterBorderBlock);
  border-inline-end: var(--_ui5wcr-AnalyticalTable-OuterBorderInline);
  border-block-end: var(--_ui5wcr-AnalyticalTable-HeaderBorderWidth) solid var(--sapList_HeaderBorderColor);
  background-color: var(--sapList_HeaderBackground);
  border-inline-start: 1px solid var(--sapList_BorderColor);
  margin-inline-start: -1px;
  width: calc(var(--sapScrollBar_Dimension) + 2px);
}
.scrollbar {
  overflow-y: auto;
  border-inline-end: var(--_ui5wcr-AnalyticalTable-OuterBorderInline);
  border-block-end: 1px solid var(--sapList_TableFooterBorder);
  border-inline-start: 1px solid var(--sapList_BorderColor);
  margin-inline-start: -1px;
  box-sizing: border-box;
}

.scrollbar:global(.ui5-content-native-scrollbars) {
  background-color: var(--sapList_Background);
  width: calc(var(--sapScrollBar_Dimension) + 2px);
}

.analyticalTableDelta:global(.ui5-content-native-scrollbars) {
  &::-webkit-scrollbar {
    background-color: var(--sapScrollBar_TrackColor);
    -webkit-border-start: var(--_ui5wcr_Scrollbar_Border);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--_ui5wcr_Scrollbar_BorderRadius);
    background-color: var(--sapScrollBar_FaceColor);

    &:hover {
      background-color: var(--sapScrollBar_FaceColor);
    }

    &:horizontal {
      height: var(--sapScrollBar_Dimension);
    }

    &:vertical {
      width: var(--sapScrollBar_Dimension);
    }
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--sapScrollBar_TrackColor);
  }

  &::-webkit-scrollbar:horizontal {
    height: var(--sapScrollBar_Dimension);
  }

  &::-webkit-scrollbar:vertical {
    width: var(--sapScrollBar_Dimension);
  }
}

.verticalScroller {
  width: 1px;
  background-color: var(--sapList_Background);
}

.bottomSection {
  flex-grow: 1;
  background-color: var(--sapList_FooterBackground);
  box-sizing: border-box;
  border-inline-end: var(--_ui5wcr-AnalyticalTable-OuterBorderInline);
}
