[data-sap-theme="sap_belize_hcw"] {
  --_ui5wcr_Scrollbar_Border: 0.0625rem solid #585858;
  --_ui5wcr_ActionSheet_BoxShadow: var(--sapContent_HeaderShadow);
  --_ui5wcr_Scrollbar_BorderRadius: 0;
  --_ui5wcr_ActionSheet_TopBorderRadius: var(--sapElement_BorderCornerRadius);
}