.container {
  font-size: var(--sapFontSmallSize);
  color: var(--sapTextColor);
  font-family: var(--sapFontFamily);
  width: 100%;
  height: 400px;
  min-height: fit-content;
  position: relative;
}

.busyIndicator {
  background-color: color-mix(in srgb, var(--sapBackgroundColor) 45%, transparent);
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 1;
}

:global(.has-click-handler) {
  :global(.recharts-pie-sector),
  :global(.recharts-bar-rectangles),
  :global(.recharts-active-dot),
  :global(.recharts-area-dot) {
    cursor: pointer;
  }
}
