.container {
  font-size: var(--sapFontSmallSize);
  color: var(--sapTextColor);
  font-family: var(--sapFontFamily);
  width: 100%;
  height: 400px;
  min-height: fit-content;
  position: relative;
}

.loading {
  opacity: 0.4;
}

.busyIndicator {
  /* todo: clarify if we want to use the block layer variable of ui5wc or our own approach*/
  /*background: var(--_ui5_busy_indicator_block_layer);*/
  position: absolute;
  inset: 0;
  height: 100%;
}

:global(.has-click-handler) {
  :global(.recharts-pie-sector),
  :global(.recharts-bar-rectangles),
  :global(.recharts-active-dot),
  :global(.recharts-area-dot) {
    cursor: pointer;
  }
}
