:root {
    --_ui5wcr-BarHeight: 2.75rem;
    --_ui5wcr-SplitterSize: 1rem;
    --_ui5wcr-ElementHeight: var(--sapElement_Height);
    --_ui5wcr-ToolbarHeight: 2.75rem;
    --_ui5wcr-DialogHeaderHeight: 2.75rem;
    --_ui5wcr-CheckBoxWidthHeight: 2.75rem;
    --_ui5wcr-FormGroupTitleHeight: 2.75rem;
    --_ui5wcr-DialogSubHeaderHeight: 3rem;
    --_ui5wcr-ButtonTopBottomPadding: 0.25rem 0;
    --_ui5wcr-ToolbarSeparatorHeight: 2rem;
    --_ui5wcr-AnalyticalTableRowHeight: 44px;
    --_ui5wcr-MessageItemTitleFontSize: var(--sapFontHeader5Size);
    --_ui5wcr-ToolbarPopoverContentPadding: 0.25rem 0.5rem;
    --_ui5wcr-AnalyticalTableHeaderRowHeight: 44px;
    --_ui5wcr-AnalyticalTableExpandIconHeight: 1rem;
    --_ui5wcr-MessageViewListItemHeightByLine: 3.325rem;
    --_ui5wcr-MessageViewListItemHeightSingle: 2.75rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel1: 1rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel2: 1.5rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel3: 2rem;
    --_ui5wcr-AnalyticalTableExpandButtonHeight: 2.25rem;
    --_ui5wcr-AnalyticalTableExpandIndicatorWidth: 1.875rem;
    --_ui5wcr-AnalyticalTableSelectionColumnWidth: 44px;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
    --_ui5wcr-BarHeight: 2.5rem;
    --_ui5wcr-ElementHeight: var(--sapElement_Compact_Height);
    --_ui5wcr-ToolbarHeight: 2rem;
    --_ui5wcr-DialogHeaderHeight: 2.5rem;
    --_ui5wcr-CheckBoxWidthHeight: 2rem;
    --_ui5wcr-FormGroupTitleHeight: 2rem;
    --_ui5wcr-DialogSubHeaderHeight: 2.25rem;
    --_ui5wcr-ButtonTopBottomPadding: 0.1875rem 0;
    --_ui5wcr-ToolbarSeparatorHeight: 1.5rem;
    --_ui5wcr-AnalyticalTableRowHeight: 32px;
    --_ui5wcr-MessageItemTitleFontSize: var(--sapFontHeader6Size);
    --_ui5wcr-ToolbarPopoverContentPadding: 0.1875rem 0.375rem;
    --_ui5wcr-AnalyticalTableHeaderRowHeight: 32px;
    --_ui5wcr-AnalyticalTableExpandIconHeight: 0.75rem;
    --_ui5wcr-MessageViewListItemHeightByLine: 3.25rem;
    --_ui5wcr-MessageViewListItemHeightSingle: 2rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel1: 1.5rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel2: 2.25rem;
    --_ui5wcr-AnalyticalTableTreePaddingLevel3: 2.75rem;
    --_ui5wcr-AnalyticalTableExpandButtonHeight: 1.5rem;
    --_ui5wcr-AnalyticalTableExpandIndicatorWidth: 1.625rem;
    --_ui5wcr-AnalyticalTableSelectionColumnWidth: 32px;
}
