/*todo scroll margin for interactive elements (scroll into view when focused)*/
/*todo: use will-change: transform?*/
.sticky {
  position: sticky;
  z-index: 1;
}

.cell {
  box-sizing: border-box;
  display: flex;
  background-color: var(--sapList_Background);
  overflow: hidden;
  /*todo: dev*/
  border-inline: solid 1px black;
}

/* ============================================================= */
/*                         Container                             */
/* ============================================================= */

.tableContainer {
  overflow: auto;
  position: relative;
  background-color: var(--sapList_Background);
  font-size: var(--sapFontSize);
  box-sizing: border-box;
  overscroll-behavior: none;
}

/* ============================================================= */
/*                      Table                           */
/* ============================================================= */

.table {
  /*todo check if we really require grid here*/
  display: grid;
}

/* ============================================================= */
/*                          RowGroup                             */
/* ============================================================= */

.headerGroups {
  inset-block-start: 0;
  font-family: var(--_ui5wcr-AnalyticalTable-HeaderFontFamily);
  z-index: 2;

  > [data-component-name='AnalyticalTableV2HeaderRow']:last-child {
    /*todo: box shadow or border --> specs*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.topRowsGroup {
  inset-block-start: calc(var(--_ui5WcrAnalyticalTableHeaderGroups) * var(--_ui5WcrAnalyticalTableControlledRowHeight));
  height: calc(var(--_ui5WcrAnalyticalTableTopRows) * var(--_ui5WcrAnalyticalTableControlledRowHeight));

  > [data-component-name='AnalyticalTableV2TopRow']:last-child {
    /*todo: box shadow or border --> specs*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.bottomRowsGroup {
  inset-block-end: 0;
  height: calc(var(--_ui5WcrAnalyticalTableBottomRows) * var(--_ui5WcrAnalyticalTableControlledRowHeight));

  > [data-component-name='AnalyticalTableV2BottomRow']:first-child {
    /*todo: box shadow or border --> specs*/
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
}

/* ============================================================= */
/*                            Row                                */
/* ============================================================= */

.row {
  display: flex;
  width: 100%;
  height: var(--_ui5WcrAnalyticalTableControlledRowHeight);
}

/* ============================================================= */
/*                          Header                               */
/* ============================================================= */

/*.headerCell {*/
/*  display: flex;*/
/*}*/

.headerRow {
  background-color: var(--sapList_HeaderBackground);
}

.headerInteractive {
  cursor: pointer;
  /*  todo:remove*/
  background: lightgrey;
}

/* ============================================================= */
/*                            Body                               */
/* ============================================================= */

.virtualizedRow {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
}
