:not(:defined) {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.appShell {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.appScrollContainer {
    height: calc(100vh - 3.25rem);
    width: 100vw;
    overflow-y: auto;
    position: relative;
}