.container {
  height: var(--_ui5wcr-AnalyticalTableExpandButtonHeight);
  margin-inline-end: 0.125rem;
}

.icon {
  color: var(--sapContent_IconColor);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  &::part(root) {
    padding: 0.375rem;
    width: var(--_ui5wcr-AnalyticalTableExpandIconHeight);
    height: var(--_ui5wcr-AnalyticalTableExpandIconHeight);
  }
}

.button {
  color: var(--sapTextColor);
  height: 100%;
  font-size: 0.75rem;
}

.nonExpandableCellSpacer {
  width: var(--_ui5wcr-AnalyticalTableExpandIndicatorWidth);
}

.withExpandableButton {
  margin-inline-end: 0.5rem;
}
