.filterItem {
  position: relative;
  z-index: 0; /* reset the z-index to 0 to prevent filters from showing up above the dialog (e.g. in case the wc is leaking) */

  margin-block-end: 1rem;
  margin-inline-end: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--_ui5wcr_filter_group_item_flex_basis);
  max-width: calc(var(--_ui5wcr_filter_group_item_flex_basis));

  &[data-with-toolbar='false'] {
    max-width: calc(var(--_ui5wcr_filter_group_item_flex_basis) * 2);
  }
}

.innerFilterItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > :last-child {
    width: 100%;
  }
}

.loadingContainer {
  display: flex;
  width: 100%;
  height: 1.625rem;
  justify-content: center;
}

.dialogTableRow {
  --_ui5wcr-ActiveIconDisplayVariable: inline-block;
  * {
    cursor: pointer;
  }
}

.dialogCellLabel {
  color: var(--sapTextColor);
}

.dialogActiveCell {
  justify-content: center;
}

.dialogActiveIcon {
  display: var(--_ui5wcr-ActiveIconDisplayVariable);
  color: var(--sapNeutralColor);
  transform: scale(-50%);
}

.labelContainer {
  :not(:first-child) {
    width: 100%;
  }
}

.withReorderBtns {
  --_ui5wcr-ReorderBtnsDisplay: none;

  & > [ui5-table-cell] {
    padding-block: 0;
  }

  &[aria-selected='true']:focus,
  &[aria-selected='true']:active {
    --_ui5wcr-ActiveIconDisplayVariable: none;
    --_ui5wcr-ReorderBtnsDisplay: flex;
  }
}

.withReorderHoverBtns {
  &[aria-selected='true']:hover {
    --_ui5wcr-ReorderBtnsDisplay: flex;
    --_ui5wcr-ActiveIconDisplayVariable: none;
  }
}

.reorderBtnsContainer {
  display: var(--_ui5wcr-ReorderBtnsDisplay);
}

.pseudoInvisibleText {
  font-size: 0;
  position: absolute;
  user-select: none;
  left: 0;
  top: 0;
}
