.text {
  display: inline;
}

.renderWhitespace {
  white-space: pre-wrap;
}

.ellipsis {
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  color: var(--sapTextColor);
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;
  max-width: 100%;
  word-spacing: 0.125rem;
}

.popover {
  max-width: 30rem;
}

.popover::part(content) {
  padding: 1rem;
}
