.appShell {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.scrollContainer {
    height: calc(100vh - var(--_ui5_shellbar_root_height));
    overflow-y: auto;
    position: relative;
}