.outerContainer {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: var(--_ui5wcr-ToolbarHeight);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 0.0625rem solid var(--sapGroup_TitleBorderColor);
  overflow: hidden;
}

.hasOverflow {
  .toolbar {
    max-width: calc(100% - 44px);
  }
}

.clear {
  border-block-end: none;
}

.active {
  cursor: pointer;

  &:hover {
    background-color: var(--sapList_Hover_Background);
  }

  &:focus {
    outline: var(--_ui5wcr_Toolbar_FocusOutline);
    outline-offset: -0.1875rem;
    box-shadow: var(--_ui5wcr_Toolbar_FocusShadow);
  }

  &:active {
    background-color: var(--sapActiveColor);
  }
}

.info {
  height: 2rem;
  background-color: var(--sapInfobar_NonInteractive_Background);
  color: var(--sapList_TextColor);

  &.active {
    outline-color: var(--sapContent_ContrastFocusColor);
    background-color: var(--sapInfobar_Background);
    color: var(--sapInfobar_TextColor);

    &:hover {
      background-color: var(--sapInfobar_Hover_Background);
    }

    &:active {
      background-color: var(--sapInfobar_Active_Background);
    }
  }
}

.solid {
  background-color: var(--sapToolbar_Background);
}

.transparent {
  background-color: transparent;
}

.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;

  > :first-child:not(:global(.spacer)) {
    margin-inline: 0.5rem 0.25rem;
  }

  > :last-child:not(:global(.spacer)) {
    margin-inline: 0.25rem 0.5rem;
  }

  > *:not(:first-child):not(:last-child):not(:global(.spacer)) {
    margin-inline: 0.25rem;
  }
}

.overflowButtonContainer {
  display: flex;
  margin-inline: 0 0.5rem;
}

.popover {
  &[ui5-popover]::part(content) {
    padding: 0;
  }
}

.popoverPhone {
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  inset-inline-start: 5px !important;
}

.popoverContent {
  padding: var(--_ui5wcr-ToolbarPopoverContentPadding);
  display: flex;
  flex-direction: column;

  > [ui5-toggle-button],
  > [ui5-button] {
    margin-block: 0.25rem;
  }

  > [ui5-button]::part(button),
  > [ui5-toggle-button]::part(button) {
    justify-content: start;
  }

  > [ui5-button][icon-only]::part(button),
  > [ui5-toggle-button][icon-only]::part(button) {
    padding: revert;
  }

  &:last-child {
    margin-block-end: 0;
  }

  &:first-child {
    margin-block-start: 0;
  }
}

.childContainer {
  display: flex;
}
