.header {
  background-color: var(--sapObjectHeader_Background);
  position: sticky;
  z-index: 1;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: block;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
}
