.cardHeader {
  padding: 1rem;
  position: relative;
  background-color: var(--sapTile_Background);

  &:focus:before {
    content: '';
    outline: none;
    position: absolute;
    pointer-events: none;
    inset: var(--_ui5_card_header_focus_offset);
    border: var(--_ui5_card_header_focus_border);
    border-radius: var(--_ui5_card_header_focus_radius) var(--_ui5_card_header_focus_radius)
      var(--_ui5_card_header_focus_bottom_radius) var(--_ui5_card_header_focus_bottom_radius);
  }

  &:focus-visible {
    outline: none;
  }
}

.cardHeaderClickable {
  cursor: pointer;
}

.headerTitles {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  width: 100%;
}

.headerFirstLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerSecondLine {
  position: relative;
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  font-weight: normal;
  color: var(--sapTile_TextColor);
  min-height: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.headerText {
  font-family: var(--sapFontHeaderFamily);
  font-weight: var(--sapFontHeaderWeight);
  font-size: var(--sapFontHeader6Size);
  color: var(--sapTile_TitleTextColor);
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  text-align: start;
  text-overflow: ellipsis;
}

.status {
  font-size: var(--sapFontSmallSize);
  color: var(--sapTile_TextColor);
  line-height: normal;
  text-align: end;
  margin-inline-start: 1rem;
  margin-block-start: 0.125rem;
}

.unitOfMeasurement {
  margin-inline-start: 0.25rem;
  padding-inline-start: 0.25rem;
  border-inline-start: 1px solid var(--sapTile_TextColor);
}

.kpiContent {
  display: flex;
  align-items: flex-start;
  margin-block-start: 0.25rem;
}

.mainIndicator {
  color: var(--sapNeutralTextColor);
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  white-space: nowrap;
  text-align: end;
  text-overflow: ellipsis;
  font-size: 2.25rem;
  font-family: var(--sapFontFamily);
  font-weight: normal;
}

.value {
  padding-block-start: 0.125rem;
  height: 2.875rem;
  font-family: var(--sapFontLightFamily);
}

.indicatorAndUnit {
  display: grid;
  text-overflow: ellipsis;
  text-align: center;
  height: 2.125rem;
  padding-inline-start: 0.375rem;
  padding-block: 0.5rem 0.375rem;
}

.indicator {
  grid-column: 1;
  grid-row: 1;
  width: var(--sapFontSmallSize);
  height: var(--sapFontSmallSize);
  color: currentColor;
}

.unit {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0.9375rem;
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSmallSize);
}

.indicatorGap {
  flex: 1 0 1rem;
  max-width: 3rem;
}

.sideIndicators {
  display: flex;
  padding: 0.5rem 0;
  min-width: 0;

  > * {
    margin-inline-end: 1rem;
  }

  &:last-child {
    margin-inline-end: 0;
  }
}

.description {
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSmallSize);
  color: var(--sapTile_TextColor);
  font-weight: normal;
  white-space: normal;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  margin-block-start: 0.25rem;
  width: 100%;
  display: -webkit-box;
  line-height: 14px;
  max-height: 14px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.good {
  color: var(--sapPositiveTextColor);
}

.error {
  color: var(--sapNegativeTextColor);
}

.critical {
  color: var(--sapCriticalTextColor);
}

.neutral {
  color: var(--sapNeutralTextColor);
}
