.formContainer {
  container-type: inline-size;
}

.form {
  display: grid;
  align-items: center;
  row-gap: 0.25rem;
  column-gap: 0;

  --_ui5wcr_form_label_text_align: end;

  &.labelSpan12 {
    align-items: start;
  }

  [data-component-name='FormGroupTitle'] {
    margin-inline: 1rem;
  }

  [data-label-span='12'] {
    margin-inline: 1rem;
  }

  [data-component-name='FormItemLabel']:not([data-label-span='12']) {
    margin-inline-start: 1rem;
    margin-inline-end: 0.5rem;

    & ~ [data-component-name='FormItemContent'] {
      margin-inline-end: 1rem;
    }
  }
}

@container (max-width: 599.99px) {
  .form {
    --_ui5wcr_form_label_span: var(--_ui5wcr_form_label_span_s);
    --_ui5wcr_form_columns: var(--_ui5wcr_form_columns_s);
    --_ui5wcr_form_content_span: calc(12 - var(--_ui5wcr_form_label_span));
    grid-template-columns: repeat(calc(12 * var(--_ui5wcr_form_columns)), 1fr);
  }
}

@container (min-width: 600px) and (max-width: 1023.99px) {
  .form {
    --_ui5wcr_form_label_span: var(--_ui5wcr_form_label_span_m);
    --_ui5wcr_form_columns: var(--_ui5wcr_form_columns_m);
    --_ui5wcr_form_content_span: calc(12 - var(--_ui5wcr_form_label_span));
    grid-template-columns: repeat(calc(12 * var(--_ui5wcr_form_columns)), 1fr);
  }
}

@container (min-width: 1024px) and (max-width: 1439.99px) {
  .form {
    --_ui5wcr_form_label_span: var(--_ui5wcr_form_label_span_l);
    --_ui5wcr_form_columns: var(--_ui5wcr_form_columns_l);
    --_ui5wcr_form_content_span: calc(12 - var(--_ui5wcr_form_label_span));
    grid-template-columns: repeat(calc(12 * var(--_ui5wcr_form_columns)), 1fr);
  }
}

@container (min-width: 1440px) {
  .form {
    --_ui5wcr_form_label_span: var(--_ui5wcr_form_label_span_xl);
    --_ui5wcr_form_columns: var(--_ui5wcr_form_columns_xl);
    --_ui5wcr_form_content_span: calc(12 - var(--_ui5wcr_form_label_span));
    grid-template-columns: repeat(calc(12 * var(--_ui5wcr_form_columns)), 1fr);
  }
}

.solid {
  background-color: var(--sapGroup_ContentBackground);
}

.transparent {
  background-color: transparent;
}

.formTitle {
  box-sizing: border-box;
  border-block-end: var(--_ui5wcr_Form_HeaderBorderWidth) solid var(--sapGroup_TitleBorderColor);
  grid-column: 1 / -1;
  font-size: var(--sapGroup_Title_FontSize);
  height: 2.75rem;
  line-height: 2.75rem;
  padding-inline: 1rem;

  &:not(:has(~ [data-component-name='FormGroupTitle'])) {
    margin-block-end: 0.5rem;
  }

  &:not(
      :has(
          ~ [data-component-name='FormGroupTitle']:not(:empty)
            + [data-component-name='FormItemLabel'][data-row-index-label='3']
        )
    ):has(
      ~ [data-component-name='FormGroupTitle']:empty + [data-component-name='FormItemLabel'][data-row-index-label='3']
    ) {
    margin-block-end: 0.5rem;
  }
}
