.tHactive {
  width: 25%;

  &::part(column) {
    text-align: center;
  }
}

.groupedTableHeader {
  display: none;
}

.tableInGroup [ui5-table-row]:last-child {
  border-bottom: none;
}

.groupPanel {
  &::part(content) {
    padding: 0;
  }
}

.searchInputContainer {
  height: var(--_ui5wcr-ToolbarHeight);
  padding-bottom: 0.25rem;
}

.searchInput {
  width: 100%;
}

.dialogComponent {
  width: 40rem;
  height: 55rem;

  &::part(content),
  &::part(footer),
  &::part(header) {
    padding: 0;
  }
}

.dialogComponent[data-is-phone='true'] {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.header {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.25rem 0;

  * {
    margin-block: 0.25rem;
    margin-inline: 0;
  }

  [ui5-input] {
    width: 100%;
  }
}

.subheaderContainer {
  padding-block-start: 0.25rem;
  /*padding-block: 0;*/
  padding-inline: 1rem;
  box-shadow: var(--sapContent_HeaderShadow);
}

.subheader {
  padding-block-end: 0.25rem;

  [data-component-name='ToolbarContent'] > :last-child {
    margin: 0;
  }

  [data-component-name='ToolbarContent'] > :first-child {
    margin-inline: 0 0.25rem;
  }
}

.footer {
  :not(:last-child) {
    margin-inline-end: 0.25rem;
  }
}

.showValuesBtn {
  flex-shrink: 0; /*Show Values text should always be visible*/
}

.spacer {
  flex-grow: 1;
}

.inactiveTable {
  pointer-events: none;
}
