.numericSideIndicator {
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSmallSize);
  color: var(--sapTile_TextColor);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 0;
  position: relative;
}

.title {
  text-align: end;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 0.25rem;
  max-width: 100%;
}

.value {
  font-size: inherit;
  color: inherit;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
}

.stateGood {
  color: var(--sapPositiveTextColor);
}

.stateError {
  color: var(--sapNegativeTextColor);
}

.stateCritical {
  color: var(--sapCriticalTextColor);
}

.stateNeutral {
  color: var(--sapNeutralTextColor);
}
