.parameters:not(:last-child) {
  margin-block-end: 1rem;
}

.parameterName {
  font-weight: bold;
}

.parameterDetails {
  padding-inline: 1rem;
}

.domRefCodeBlock {
  display: contents;
  overflow-x: auto;
  padding: 0;
  background: white;
  color: black;
  white-space: pre-wrap;
  font-size: 14px;
  margin: 0;
}

.domRefCode {
  white-space: pre;

  > span {
    font-size: 14px;
  }
}

.deprecationInfoBadge {
  margin-top: 0.5rem !important;
}

.deprecationInfoPopover {
  max-width: 15rem;
}

.deprecationInfoPopover::part(content) {
  padding: 0.5rem;
}
