.cardContainer {
  position: relative;
  width: 500px;
  height: 20rem;
  margin-block-end: 2rem;
  flex-shrink: 0;
}

.cardContent {
  padding: 1rem;
}

.deprecationNotice {
  margin-block-end: 0.5rem;
}

.template {
  width: 300px;
  height: unset;
  .unssupportedMessage {
    inset-block-end: 70px;
  }
}

.overlay {
  opacity: 0.5;
  pointer-events: none;
}

.unssupportedMessage {
  position: absolute;
  z-index: 1;
  inset-block-end: 180px;
  inset-inline-start: 5%;
  width: 90%;
}

.popover::part(content) {
  padding: 0.5rem;
}
