.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

.fixedContainer {
}

.toc {
  font-family: var(--sapFontFamily) !important;
  font-size: var(--sapFontSize) !important;
  background: white;
}

.toc :global(.toc-list-item) {
  margin: 6px 0;
  line-height: normal;
}

.toc :global(.toc-link) {
  font-family: var(--sapFontFamily) !important;
  font-size: var(--sapFontSize) !important;
  -webkit-font-smoothing: auto;
  line-height: normal;
}

.toc * {
  text-decoration-line: none;
  list-style: none;
}

@media (max-width: 1329px) {
  .header[data-show-small='false'] {
    display: none;
  }
  .fixedContainer[data-show-small='false'] {
    display: none;
  }
  .toc {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .toc > :global(.toc-list) {
    padding-inline-start: 0;
  }

  .toc :global(.toc-link) {
    text-shadow: var(--sapContent_TextShadow);
    color: var(--sapLinkColor);
    line-height: normal;
  }

  :global(.toc-link):hover {
    color: var(--sapLink_Hover_Color);
  }

  :global(.toc-link):active {
    color: var(--sapLink_Active_Color);
  }

  .toc :global(.is-active-link) {
    font-weight: 400;
  }
  .toc :global(.is-active-link)::before {
    content: none;
  }
}

@media (min-width: 1330px) {
  .header {
    display: none;
  }

  .fixedContainer {
    width: 200px;
    position: fixed;
    top: 75px;
    right: 6px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .toc :global(.toc-list) {
    padding-inline-start: 1rem;
  }

  .toc > :global(.toc-list) {
    padding-inline-start: 10px;
  }

  .toc :global(.toc-list)::before {
    width: 4px;
  }

  .toc :global(.toc-list-item) {
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
  }

  .toc :global(.is-active-link)::before {
    background-color: #0a6ed1;
  }
}
