.header {
  background-color: var(--sapObjectHeader_Background);
  position: sticky;
  z-index: 1;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: var(--_ui5wcr_DynamicPage_header_display);
  overflow: hidden;
}
