name: 'Issue Comments'

on:
  workflow_dispatch:

jobs:
  issue-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install Dependencies
        run: |
          yarn install --immutable
        env:
          CYPRESS_INSTALL_BINARY: 0

      ### Semantic Release Bot comments for issues and PRs ###
      - name: Add release comments to issues and PRs
        uses: actions/github-script@v7
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          script: |
            const { default: addIssueComments } = await import('${{ github.workspace }}/.github/createIssueCommentsForRelease.mjs');

            await addIssueComments({ github, context })
