name: 'Release'

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: string
        description: 'Release Type: Lerna Auto Versioning if empty.'
        required: false
        default: ''
      prerelease:
        type: boolean
        description: 'pre-release'
        required: false
        default: false

jobs:
  test:
    uses: './.github/workflows/test.yml'
    with:
      reportCoverage: false

  build-and-release:
    needs: ['test']
    runs-on: ubuntu-latest
    environment:
      name: 'npm'
      url: 'https://www.npmjs.com/package/@ui5/webcomponents-react'
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.7.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install and build
        run: |
          yarn install --immutable
          yarn build

      - name: publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}

          git config user.email ${{ secrets.BOT_GIT_EMAIL }}
          git config user.name ${{ secrets.BOT_GIT_USERNAME }}

          ${GITHUB_WORKSPACE}/node_modules/.bin/lerna publish ${{ github.event.inputs.release_type }} \
            ${{ (github.event.inputs.prerelease == 'true' && '--conventional-prerelease') || '--conventional-graduate' }} \
            --create-release github
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      ### Semantic Release Bot comments for issues and PRs ###
      - name: Add release comments to issues and PRs
        uses: actions/github-script@v6
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          script: |
            const { default: addIssueComments } = await import('${{ github.workspace }}/.github/createIssueCommentsForRelease.mjs');

            await addIssueComments({ github: github.rest, context })

