name: 'Release'

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type: patch | minor | major'
        required: true
        default: 'patch'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    environment:
      name: 'npm'
      url: 'https://www.npmjs.com/package/@ui5/webcomponents-react'
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install, test and build
        run: |
          yarn install
          yarn test
          yarn build
        env:
          REACTJS_VERSION: 18

      - name: publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}

          git config user.email ${{ secrets.BOT_GIT_EMAIL }}
          git config user.name ${{ secrets.BOT_GIT_USERNAME }}

          ${GITHUB_WORKSPACE}/node_modules/.bin/lerna publish ${{ github.event.inputs.release_type }} \
            --conventional-graduate \
            --create-release github
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Deploy Release Docs
        run: yarn deploy:storybook
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Build Next Docs
        run: yarn build:storybook

      - name: Deploy Next Docs
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: .out # The folder the action should deploy.
          target-folder: master
          clean: true

      - uses: actions/github-script@v6
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          script: |
            const { readFileSync } = require('fs');
            const { URL } = require('url');
            const { version } = require('./lerna.json');
            const script = require('./.github/createIssueCommentsForRelease.cjs');

            console.log('Create issue comments for lerna version: ', version);
            await script({ github: github.rest, context, core, version })
