name: 'Release - Release Candidate'

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type: premajor | preminor | prepatch | prerelease'
        required: true
        default: 'prerelease'

jobs:
  build-and-release:
    if: github.actor == 'MarcusNotheis' || github.actor == 'vbersch' || github.actor == 'Lukas742'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 14.x

      - name: Install, test and build
        run: |
          yarn install
          yarn test
          yarn build

      - name: publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}

          git config user.email ${{ secrets.BOT_GIT_EMAIL }}
          git config user.name ${{ secrets.BOT_GIT_USERNAME }}

          ${GITHUB_WORKSPACE}/node_modules/.bin/lerna publish ${{ github.event.inputs.release_type }} \
            --conventional-prerelease \
            --create-release github \
            --dist-tag next \
            --pre-dist-tag next
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        
