name: 'Release - custom npm tag'

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type: major | minor | patch'
        required: true
        default: 'patch'
      npm_tag:
        description: 'npm dist tag'
        required: true
        default: 'sf'

jobs:
  test:
    uses: './.github/workflows/test.yml'
    with:
      reportCoverage: false

  build-and-release:
    needs: ['test']
    runs-on: ubuntu-latest
    environment:
      name: 'npm'
      url: 'https://www.npmjs.com/package/@ui5/webcomponents-react'
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.3
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Install and build
        run: |
          npm install -g npm
          yarn install
          yarn build

      - name: publish
        run: |
          git config user.email ${{ secrets.BOT_GIT_EMAIL }}
          git config user.name ${{ secrets.BOT_GIT_USERNAME }}

          ${GITHUB_WORKSPACE}/node_modules/.bin/lerna publish ${{ github.event.inputs.release_type }} \
            --dist-tag ${{ github.event.inputs.npm_tag }}
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
