name: 'Test'

on:
  workflow_call:
    inputs:
      reportCoverage:
        default: true
        type: boolean
        required: false

jobs:
  cypress:
    name: Cypress
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spec:
          - main/src/components/FilterBar
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          component: true
          spec: packages/${{ matrix.spec }}

      - uses: coverallsapp/github-action@v2.2.3
        if: ${{ inputs.reportCoverage }}
        with:
          file: temp/cypress-coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          flag-name: ${{ matrix.spec }}

  coveralls:
    if: ${{ always() && inputs.reportCoverage }}
    needs: ['cypress']
    name: 'Combine Coverage'
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls
        uses: coverallsapp/github-action@v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
          carryforward: 'base,charts,cypress-commands,main/src/components,main/src/internal'
