name: 'Test'

on:
  workflow_call:
    inputs:
      reportCoverage:
        default: true
        type: boolean
        required: false

jobs:
  cypress:
    name: Cypress
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spec:
          - base
          - charts
          - cypress-commands
          - main/src/components
          - main/src/internal
          - compat
        react: ['18', '19']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install
        run: yarn install --immutable

      - name: Install 18
        if: ${{ matrix.react == '18' }}
        run: |
          yarn add "@types/react@18" "@types/react-dom@18" --dev
          yarn add react@18 react-dom@18

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          component: true
          spec: packages/${{ matrix.spec }}
          install: false

      - uses: coverallsapp/github-action@v2.3.6
        if: ${{ inputs.reportCoverage && matrix.react == '19' }}
        with:
          file: temp/cypress-coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          flag-name: ${{ matrix.spec }}

  coveralls:
    needs: ['cypress']
    if: ${{ always() && inputs.reportCoverage }}
    name: 'Combine Coverage'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
          debug: true
          carryforward: 'base,charts,cypress-commands,main/src/components,main/src/internal'
