name: 'Test'

on:
  workflow_call:
    inputs:
      reportCoverage:
        default: true
        type: boolean
        required: false

jobs:
  jest:
    name: 'Jest'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        react: [16, 17, 18]
    env:
      CI: true
      CYPRESS_INSTALL_BINARY: 0
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: install dependencies
        run: yarn install --immutable

      - name: run tests
        run: yarn test:jest --runInBand
        env:
          REACTJS_VERSION: ${{ matrix.react }}

      - uses: actions/upload-artifact@v3
        with:
          name: jest-coverage
          path: temp/jest-coverage

  cypress:
    name: 'Cypress'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: yarn build
          browser: chrome
          component: true
          spec: |
            packages/main/src/components/*/**
            packages/base
            packages/charts
            packages/cypress-commands


      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-coverage
          path: temp/cypress-coverage

  coveralls:
    if: ${{ inputs.reportCoverage }}
    needs: ['jest', 'cypress']
    name: 'Combine Coverage'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: download jest coverage
        uses: actions/download-artifact@v3
        with:
          name: jest-coverage
          path: temp/jest-coverage

      - name: download cypress coverage
        uses: actions/download-artifact@v3
        with:
          name: cypress-coverage
          path: temp/cypress-coverage

      - name: download web-components coverage
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          cd temp
          RUNID=`gh run list --workflow "Test (Web Components)" --json databaseId --jq '.[0].databaseId'`
          gh run download $RUNID -n web-components-coverage

      - name: create test report
        run: npm run test:combine-reports

      - name: Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          path-to-lcov: temp/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
